<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
<div id="{{rootId}}"></div>

<script src="{{jsPath}}"></script>
<script>
    // Create the WebView connection
    const webview = new SpiderWebView('{{wsUrl}}', {
        rootSelector: '#{{rootId}}',
        debug: {{debug}}
    });

</script>
</body>
</html>